# Значения подставляются из переменных окружения (.env / Dokploy UI)
:443, {$DOMAIN}

tls {$EMAIL}

route {
    forward_proxy {
        basic_auth {$PROXY_USER} {$PROXY_PASS}
        hide_ip
        hide_via
        probe_resistance
    }

    reverse_proxy {$MASK_SITE} {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
    }
}
