# Скопируйте этот файл в .env и заполните значения
# Либо вставьте эти переменные в Dokploy → Environment Variables

DOMAIN=proxy.example.com
EMAIL=you@example.com
PROXY_USER=ВашЛогин
PROXY_PASS=ВашПароль
MASK_SITE=https://demo.cloudreve.org
